<div class="description">{{{description}}}</div>

<h5>Markup</h5>
<div class="markup">{{{markup}}}</div>

{{#if modifiers}}
  <ul>
    {{#each modifiers}}
    <li>
      {{name}}<br>
      {{{description}}}
    </li>
    {{/each}}
  </ul>
{{/if}}
